<% include ../partials/topBar %>


<% if (errors) { %>
    <% errors.forEach(error => { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% }) %> 
<% } %> 

<form action="" method="post" autocomplete="off">
  <fieldset>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input placeholder="Enter first name" class="form-control" id="firstName" name="firstName" type="text" value="<%= fields.firstName ? fields.firstName : "" %>"> <br>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input placeholder="Enter last name" id="lastName" class="form-control" name="lastName" type="text" value="<%= fields.lastName ? fields.lastName : "" %>"> <br>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input placeholder="Enter username" id="username"  class="form-control" name="username" type="text" value="<%= fields.username ? fields.username : "" %>"> <br>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <small id="passwordHelp" class="form-text text-muted">Must be at least 8 characters</small>
      <input placeholder="Enter password" id="password"  class="form-control" name="password" type="password"> <br>
    </div>
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input placeholder="Re-enter password" id="password2"  class="form-control" name="password2" type="password"> <br>
    </div>

    <button class="btn btn-primary" type="submit">Create Account</button>

  </fieldset>
</form>