<h1><%= title %></h1>
<form action="" method="post" autocomplete="off">
    <label for="title">Title</label>
    <input id="title" name="title" type="text"> <br>
    <label for="content">Content</label>
    <textarea id="content" name="content"></textarea>
     <br>
    <button name="published" value="false" class="btn btn-warning" type="submit">Save for later</button>
    <button name="published" value="true" class="btn btn-primary" type="submit">Publish</button>
</form>
<form action="/">
    <button class="btn btn-danger" type="submit">Home</button>
</form>